<footer>
    <div class="footer-content">
        <h3>PetHub</h3>
        <p>This is a animal loving website made solely for the purpose of saving pets and those who love pets, 
            they can find their best suitable here.
        </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"><img src="icons/facebook.png" ></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"><img src="icons/twitter.png" ></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"><img src="icons/google-plus.png" ></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"><img src="icons/linkedin.png" ></i></a></li>
         </ul>

         <div class="footer-bottom">
            <p>Copyright © Team Gohaga</p>
         </div>
         
    </div>
</footer>

<style>
footer{
    background: rgb(34, 33, 33);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    }

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    }

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
    }

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
    
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-bottom p{
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

</style>
