<header>
    <nav class="navbar">
        <a href="/"><img width="100" height="100" src="/icons/pethub_icon.png"></a>
        <a style="text-decoration: none;" href="/"><h1>PetHub</h1></a>
    </nav>
</header>

<style>
    .navbar{
        display: flex;
        align-items: center;
        background-color: #3ddc84;
    }
    h1{
        font-size: xx-large;
    }
</style>