<div class="body">
    <div class="container">
        <div class="row1"><p>The name "PetHub" isn't just something that is catchy (although, we're pretty 
            proud of how catchy it is). When we created the company, our mission was to establish a "hub"
             where all your pet's essential information can live for easy access. Having the ability to 
             include medical information, vaccination records, behavioral traits, and the contact 
             information for multiple safety circle pet caretakers is one of the reasons PetHub is such a 
             valuable tool for pet parents.</p>
             <br>
             <p>Secure Your Best Friend with PetHub to protect and nurture your pet, safely and conveniently 
                from one easy to access digital profile.</p>
        </div>
        <img class="row1" style="width: 360px; height: 600px; float: right;" src="images/pets.jpg">
        <img class="row1" style="width: 360px; height: 600px; float: right;" src="images/pet2.jpeg">
    </div>
    <div id="petImage"></div>
</div>

<style>
    .body{
        padding: 30px;
    }

    .container{
        display: flex;
        font-size: 25px;
        align-items: center;
    }

    .container .row1 {
        padding-right: 20px;
    }

</style>